:root {
  --main-bg: #BBBBBB;
  --graph-bg: white;

  --nav-bg: #333366;
  --nav-text: white;
  --title-bg: #CCCCCC;
  --title-text: black;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: var(--main-bg);
}

.form {
  padding-top: .1em;
}

.info {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 3vw;
  width: 70vw;
  margin: auto;
  font-size: 1.2em;
  margin-top: 5em;
}

.grid {
  margin: auto;
	margin-top: 2em;
	width: 70%;
	display: grid;
	grid-template-rows: 6;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.graphtitle {
	height: 3em;
	background-color: var(--title-text);
	color: var(--title-bg);
	text-align: center;
	padding-top: 1.2em;
	font-size: 1.2em;
  width: 70vw;
  margin: auto;
  margin-top: 3vh;
}

.graphcontainer {
  padding-top: 40px;
  padding-left: 20px;
  position: relative;
  height: 72vh;
  width: 64vw;
  background-color: var(--graph-bg);
}

.graph {
  margin: auto;
  background-color: var(--graph-bg);
  height: 80vh;
  width: 70vw;
}

ul {
  height: 9vh;
	position: absolute;
	left: 0;
	right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: var(--nav-bg);
  color: var(--nav-text);
  padding-top: 1.3vh;
  font-size: 1em;
}

li {
    float: left;
}

/*make buttons*/
li a {
    display: block;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*changes background color on hover*/
li a:hover {
    filter: brightness(150%);
     border: 1px solid white;
}

/*makes button text be normal instead of blue underlined link*/
li a:link
{
   color: var(--nav-text);
   text-decoration: none;
   font-size: 1em;
}
/*makes button text not change after visit*/
li a:visited
{
   color: var(--nav-text);
   text-decoration: none;
}

/*shows what page you are on*/
.active {
    background-color: rgba(0, 0, 0, .9);
}

.form {
  margin-top: 5em;
}
