{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<html>
  <head>
      <meta charset="utf-8" />
      <title>HackIllinois</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <link rel="stylesheet" href="static/style.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  </head>

  <body>
    <nav id="navMenu"></nav>
    <script src="{{url_for('static', filename='navigate.js')}}"></script>
    <div class="form">
	   {{ wtf.quick_form(form) }}
    </div>
    {% if country == None %}
    <div class = "info">Please choose a country and a factor to compare with.</div>
    {% else %}
  	<div class="graphtitle"> {{ country }} Suicide Rates Per 100,000 </div>
    <div class="graph">
  	<div class="graphcontainer">
      	<canvas id="US"></canvas>
      	<script>
       	    var canvas = document.getElementById("US");
  			    var ctx = canvas.getContext('2d');

  			    Chart.defaults.global.defaultFontSize = 16;
  			    Chart.defaults.global.defaultFontFamily = 'Roboto';
            Chart.defaults.global.defaultFontColor = '#222222';

         		var data = {
         			labels : {{ country_data[1] }},
         			datasets : [
            			{
                		label: "{{ factor }}",
                    yAxisID: 'Factor',
                    backgroundColor: 'rgba(247,104,161, 0)',
                    borderColor: 'rgb(158,1,66)',
                    pointBackgroundColor: 'rgb(158,1,66)',
                    data: {{ country_data[0] }}
              		},
                  {
                    hidden: true,
              			label: "Ages 5-14",
                    yAxisID: 'Suicide Rate',
                    backgroundColor: 'rgba(247,104,161, 0)',
                    borderColor: 'rgb(244,109,67)',
                   	pointBackgroundColor: 'rgb(244,109,67)',
                		data: {{ country_data[2] }}
            			},
            			{
                    hidden: true,
              			label: "Ages 15-25",
                    yAxisID: 'Suicide Rate',
                    backgroundColor: 'rgba(253,141,60, 0)',
                    borderColor: 'rgb(253,174,97)',
                   	pointBackgroundColor: 'rgb(253,174,97)',
                    data: {{ country_data[3] }}
            			},
                  {
                    hidden: true,
              			label: "Ages 25-34",
                    yAxisID: 'Suicide Rate',
                    backgroundColor: 'rgba(247,104,161, 0)',
                  	borderColor: 'rgb(254,224,139)',
                 		pointBackgroundColor: 'rgb(254,224,139)',
                    data: {{ country_data[4] }}
            			},
                  {
                    hidden: true,
              			label: "Ages 35-54",
                    yAxisID: 'Suicide Rate',
                    backgroundColor: 'rgba(247,104,161, 0)',
                    borderColor: 'rgb(221,28,119)',
                   	pointBackgroundColor: 'rgb(230,245,152)',
                    data: {{ country_data[5] }}
            			},
                  {
                    hidden: true,
              			label: "Ages 55-74",
                    yAxisID: 'Suicide Rate',
                    backgroundColor: 'rgba(247,104,161, 0)',
                  	borderColor: 'rgb(102,194,165)',
                   	pointBackgroundColor: 'rgb(102,194,165)',
                    data: {{ country_data[6] }}
            			},
                  {
                    hidden: true,
              			label: "Ages 75+",
                    yAxisID: 'Suicide Rate',
                    backgroundColor: 'rgba(247,104,161, 0)',
                  	borderColor: 'rgb(50,136,189)',
                   	pointBackgroundColor: 'rgb(50,136,189)',
                    data: {{ country_data[7] }}
            			},
                  {
              			label: "Overall",
                    yAxisID: 'Suicide Rate',
                    backgroundColor: 'rgba(247,104,161, 0)',
                  	borderColor: 'rgb(94,79,162)',
                   	pointBackgroundColor: 'rgb(94,79,162)',
                    data: {{ country_data[8] }}
            			}
            		],
            	}
            	var options = {
                maintainAspectRatio: false,
                responsive: true,
          			legend: {
                		display: true,
                		labels: {
                  			fontColor: '#000000'
                		}
            		},
            		scales: {
    	             xAxes: [{
                       ticks: {
                           display: true,
                           autoSkip: true,
                           maxTicksLimit: 12,
                           maxRotation: 45,
                           minRotation: 45
                       },
      	              display: true,
    	                scaleLabel: {
    	                   display: true,
    	                   labelString: 'Year'
                      },
                      gridLines: {
                        display: true,
                        color: "rgba(0,0,0,1)"
                      }
    	             }],
                   yAxes: [{
                     id: 'Suicide Rate',
                     type: 'linear',
                     position: 'left',
                     display: true,
                     scaleLabel: {
                         display: true,
                         labelString: 'Suicide Rate Per 100,000'
                       }
                   }, {
                     id: 'Factor',
                     type: 'linear',
                     position: 'right',
                     display: true,
                     scaleLabel: {
                         display: true,
                         labelString: '{{ factor }} Rate'
                       }

                   }]
                },
  			      }

         		var lineChart = new Chart(ctx, {
  			    type: 'line',
  			    data: data,
  			    options: options
  			});
      	</script>
    </div>
  </div>
  {% endif %}
  </body>
</html>
{% endblock %}{{ wtf.quick_form(form) }}
