{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <title>HackIllinois</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <link rel="stylesheet" href="static/style.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  </head>

  <body>
    <nav id="navMenu"></nav>
    <script src="{{url_for('static', filename='navigate.js')}}"></script>
    <div class="info">
      For this project we decided to try and explore suicide rates for all the countries in the world
      and compare them with several social factors to see if we could visualize any possible correlations
       between the two.  Suicide is becoming a growing issue and it's important that we are able to
       do our best to prevent this trend.
    </div>
  </body>
</html>
{% endblock %}
